* {
  box-sizing: border-box;
}

:root {
    --Azure: #2994cb;
    --Absinthe: #a3de9e;
    --Sky: #394b59;
    --Anthracite: #2a2a2a;
    --Jet: #141414;
    --Night: #181818;
    --Stone: #6c757d;
    --Zinc: #cfd2d0;
    --Absinthe-alpha: rgba(163, 222, 158, 0.8);
    --Shadow-Alpha: rgba(0, 0, 0, 0.5);
    font-size: 62.5%;
}

body {
  background: var(--Night);

  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background: var(--Sky);
  padding: 30px 25px;
  border-bottom: 5px solid var(--Azure);
}

header p {
  color: var(--Absinthe);
  margin: 5px 0 20px;
  font-size: 2rem;
}

p,
li {
  font-size: 1.6rem;
}

form {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

form input {
  outline: none;
  border: none;
  padding: 12px;
  width: 100%;
  font-size: 2.2rem;
  border: 2px solid var(--Azure);
  border-radius: 12px;
}

form .form-group {
  margin: 10px 6px 10px 0;
  flex: 1;
}

footer {
  width: 100%;
  background: var(--Sky);
  color: var(--Azure);
  font-size: 2.6rem;
  padding: 20px;
  border-top: 5px solid var(--Azure);
}

footer p {
  font-weight: bold;
  font-family: "Aldrich", sans-serif;
}

.copyleft {
  display: inline-block;
  font-weight: bold;
  font-family: "Aldrich", sans-serif;
  transform: rotate(180deg);
  padding-top: 3px;
}

.page-title {
  color: var(--Azure);
  margin-bottom: 5px;
  margin-top: 0;
  font-size: 4.5rem;
}

.page-content {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px auto;
  width: 95%;
}

.task-list-wrapper {
  flex: 1;
  margin: 0 20px 20px;
}

.list-title {
  color: var(--Absinthe);
  font-size: 2.6rem;
}

.task-list {
  list-style: none;
  padding: 15px;
  height: calc(100% - 50px);
  background: var(--Sky);
  border-radius: 12px;
  border: 2px solid var(--Azure);
}

.task-item {
  color: var(--Jet);
  padding: 15px 15px;
  border: 2px solid var(--Azure);
  background: var(--Absinthe-alpha);
  border-radius: 12px;
  margin-bottom: 20px;
}

.task-name {
  margin: 0;
  font-size: 1.8rem;
}

.task-type {
  color: var(--Sky);
  font-size: 1.55rem;
}
.task-actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px 0 5px 0;
  justify-content: space-between;
}

.task-actions button,
.task-actions select {
  flex: 1;
}

.btn {
  outline: none;
  border: none;
  display: inline-block;
  padding: 10px 15px;
  background: var(--Absinthe);
  font-size: 2.2rem;
  border-radius: 12px;
  position: relative;
  top: -3px;
  box-shadow: 0 3px var(--Shadow-Alpha);
}

.btn:hover {
  box-shadow: 0 2px var(--Shadow-Alpha);
  top: -2px;
}
.btn:active {
  box-shadow: 0 0px var(--Shadow-Alpha);
  top: 0;
}

.edit-btn,
.delete-btn {
  font-size: 1.4rem;
  padding: 5px 7px;
  margin: 3px;
  background: var(--Sky);
  color: var(--Zinc);
}

.select-dropdown,
.select-status {
  display: block;
  font-size: 2.2rem;
  color: var(--Stone);
  padding: 12px;
  width: 100%;
  max-width: 100%;
  margin: 0;
  border: 2px solid var(--Azure);
  border-radius: 12px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--Zinc);
  background-image: url("../img/select-arrow.svg");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

.select-status {
  font-size: 1.4rem;
  padding: 4px 28px 4px 4px;
  width: auto;
}

.select-dropdown::-ms-expand,
.select-status::-ms-expand {
  display: none;
}

.select-dropdown:hover,
.select-status:hover {
  border-color: var(--Azure);
  color: var(--Sky);
}

.select-dropdown:focus,
.select-status:focus {
  border-color: var(--Azure);
  box-shadow: 0 0 1px 3px var(--Azure);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: var(--Azure);
  outline: none;
}
.select-dropdown option,
.select-status option {
  font-weight: normal;
  font-size: 2rem;
}

@media screen and (max-width: 980px) {
  form .form-group {
      flex: 1 100%;
  }

  form .form-group button {
      width: 100%;
  }

  .task-list-wrapper {
      flex-basis: 100%;
  }
}
